.button {
  cursor: pointer;
  text-align: center;
  position: relative;
  @include inline-block();
  @extend .button-medium;
  @extend .button-white;
  &.disabled {
    /*cursor: not-allowed;*/
    color: #ffffff;
    @include button-color(#ddd, #ddd, #eaeaea);
    /*&:hover {*/
      /*background-color: #dddddd;*/
    /*}*/
  }
  .loading {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
  }
  &.sending {
    .text {
      display: none;
    }
    .loading {
      display: block;
    }
  }

  @include box-shadow(0 0 3px #dddddd);
  @include transition(color, 0.3s);
  @include transition(background-color, 0.3s);
}
.button-medium {
  font-size: 14px;
  padding: 9px 12px;
  @include border-radius(25px);
}
.button-small {
  font-size: 12px;
  padding: 7px 10px;
  @include border-radius(20px);
}
.button-large {
  font-size: 16px;
  padding: 10px 14px;
  @include border-radius(35px);
}

.button-white { @include button-color(#ffffff, #fafafa, #eaeaea); }
.button-red { @include button-color(#E51212); }
.button-gray { @include button-color(#888888); }
.button-green { @include button-color($green); }
.button-blue { @include button-color($blue); }

