.useravar {
  height: 54px;
  width: 54px;
  float: left;
  @include border-radius(30px);
}

.name-strong {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.img-sty {
  width: 12px;
  height: 12px;
  display: block;
  float: left;
  margin-left: 50px;
  cursor: pointer;
}

.layout {
  float: right;
  border-radius: 25px;
  padding: 9px 12px 9px 25px;
  margin-top: 10px;
  @include box-shadow(0 0 3px #DDDDDD);
}