@import 'compass/utilities';

.weibo {
  @include border-radius(3px);

  margin-bottom: 10px;
  background-color: #ffffff;
  position: relative;
  >.delete {
    position: absolute;
    cursor: pointer;
    display: none;
    width: 30px;
    height: 30px;
    top: 0;
    right: 20px;
    background-image: url($common + 'del-wb.png');
    &:hover {
      background-image: url($common + 'del-wb-hl.png');
    }
    &.own {
      display: block;
    }
  }
  .header {
    padding: 20px 20px 12px 20px;
    height: 54px;
    position: relative;
    .avatar {
      width: 54px;
      height: 54px;
      position: absolute;
      @include border-radius(27px);
    }
  }
  .name-and-date {
    margin-left: 64px;
    padding-top: 15px;
    a {
      @include links(#272727);
    }
  }
  .name {
    font-weight: bold;
    font-size: 14px;
  }
  .date {
    font-size: 12px;
    margin-top: 5px;
    color: #b1b7c3;
  }
  .emptyspan {
    padding-left: 10px;
  }

  .content {
    font-size: 12px;
    line-height: 23px;
    //padding: 0 20px;
    word-wrap: break-word;
    overflow: hidden;
    padding: 0 20px;
    .text, .longtext {
    }
    .longtext {
      display: none;
    }
    .fold-content {
      display: none;
    }
    .pic {
      $pics-wrap-width: 608px;
      $pics-wrap-height: 345px;
      $pic-margin: 2px;
      $double-pic-margin: 2*$pic-margin;

      position: relative;
      width: $pics-wrap-width;
      height: $pics-wrap-height;
      margin: 0 auto;
      background-color: #f5f5f5;
      margin-left: -10px;

      .pic-wrap {
        position: relative;
        overflow: hidden;
        float: left;
        margin: $pic-margin $pic-margin;
        img {
          position: absolute;
        }
      }

      &.pic-count-1 {
        .pic-wrap {
          width: $pics-wrap-width - $double-pic-margin;
          height: 100%;
        }
      }
      &.pic-count-2 {
        .pic-wrap {
          width: $pics-wrap-width/2 - $double-pic-margin;
          height: 100%;
        }
      }
      &.pic-count-3 {
        .pic-wrap.first {
          width: $pics-wrap-width*2/3 - $double-pic-margin;
          height: 100%;
        }
        .pic-wrap {
          width: $pics-wrap-width/3 - $double-pic-margin;
          height: $pics-wrap-height/2 - $pic-margin;
        }
      }
      &.pic-count-4 {
        .pic-wrap.first {
          width: $pics-wrap-width*2/3 - $double-pic-margin;
          height: 100%;
        }
        .pic-wrap {
          width: $pics-wrap-width/3 - $double-pic-margin;
          height: $pics-wrap-height/3 - $pic-margin;
        }
      }
      &.pic-count-5 {
        .pic-wrap.first {
          width: $pics-wrap-width/2 - $double-pic-margin;
          height: 100%;
        }
        .pic-wrap {
          width: $pics-wrap-width/4 - $double-pic-margin;
          height: $pics-wrap-height/2 - $pic-margin;
        }
      }
      &.pic-count-6, &.pic-count-7, &.pic-count-8, &.pic-count-9 {
        .pic-wrap.first {
          width: $pics-wrap-width*2/3 - $double-pic-margin;
          height: 100%;
        }
        .pic-wrap {
          width: $pics-wrap-width/6 - $double-pic-margin;
          height: $pics-wrap-height/4 - $pic-margin;
        }
      }
    }
    .referer-topic {
      border-top: 1px solid #ddd;
      margin-top: 20px;
      //padding-top: 15px;
      padding: 15px 0px 0px 0px;
      .name {
        font-size: 12px;
        font-weight: normal;
      }
      .referer-text {
      }
    }
  }
  .gear-bar {
    height: 34px;
    position: relative;
    padding: 25px 20px;
    .support {
      .users {
        float: left;
        a {
          float: left;
          margin-right: 5px;
        }
        .avatar {
          width: 34px;
          height: 34px;
          @include border-radius(50%);
          @include box-shadow(0 0 3px #999);
        }
      }
      .see-all {
        float: left;
        cursor: pointer;
        width: 32px;
        height: 32px;
        padding: 0;
        background-color: #ffffff;
        background-image: url($common + 'more-avatar.png');
        border: 1px solid #ddd;
        @include border-radius(50%);
        @include box-shadow(0 0 3px #ddd);
        &:hover {
          background-color: $blue;
          border-color: $blue;
          background-image: url($common + 'more-avatar-hl.png');
        }
      }
    }
    .transmit-button {
      position: absolute;
      right: 10px;
      width: 14px;
      height: 14px;
      background-image: url($common + 'transmit.png');
      &:hover {
        color: #fff;
        background-color: $blue;
        border-color: $blue;
        background-image: url($common + 'transmit-hl.png');
      }
    }
    .collect-button {
      position: absolute;
      right: 60px;
      width: 14px;
      height: 14px;
      background-image: url($common + 'collect.png');
      &:hover, &.active {
        color: #fff;
        border-color: $blue;
        background-color: $blue;
        background-image: url($common + 'collect-hl.png');
      }
    }
    .support-button {
      padding-left: 26px;
      position: absolute;
      right: 110px;
      height: 14px;
      color: #bbb;
      background-image: url($common + 'support.png');
      background-position: 7px 50%;
      &:hover, &.active {
        color: #fff;
        border-color: $orange;
        background-color: $orange;
        background-image: url($common + 'support-hl.png');
      }
      .praisecount {
        padding-left: 6px;
      }
    }
  }
  .comments {
    background: #f9fafc;
    @include border-radius(0 0 3px 3px);
    border-top: 1px solid #e4e4e4;
    padding: 20px;
    [data-role=unfold] {
      display: block;
    }
    [data-role=first-time] {
      display: block;
    }
    [data-role=fold] {
      display: none;
    }
    [data-role=next-time] {
      display: none;
    }
    &.unfold {
      [data-role=unfold] {
        display: none;
      }
      [data-role=first-time] {
        display: none;
      }
      [data-role=fold] {
        display: block;
      }
      [data-role=next-time] {
        display: block;
      }
    }
    .see-all {
      margin-bottom: 20px;
      font-size: 12px;
      line-height: 150%;
      .unfold-icon, .fold-icon {
        width: 12px;
        height: 12px;
        @include inline-block;
        margin-top: -3px;
        margin-left: 2px;
      }
      .unfold-icon {
        background-image: url($common + 'unfold.png');
      }
      .fold-icon {
        background-image: url($common + 'fold.png');
      }
    }
    &.no-comment {
      display: none;
    }
    .comment {
      margin: 20px 0;
      position: relative;
      .header-and-content {
        margin-left: 45px;
      }
      .avatar {
        width: 34px;
        height: 34px;
        position: absolute;
        top: 0;
        left: 0
      }
      .header {
        padding: 0;
        position: relative;
        height: auto;
        a {
          @include links(#272727);
        }
        .name {
          font-weight: bold;
          margin-top: 0;
          font-size: 14px;
        }
        .date {
          font-size: 10px;
          color: #cdcdcd;
          margin-left: 5px;
          margin-top: 0;
          font-weight: normal;
        }
        .reply {
          cursor: pointer;
          position: absolute;
          right: 0;
          width: 16px;
          height: 16px;
          background-image: url($common + 'reply.png');
          &:hover {
            background-image: url($common + 'reply-hl.png');
          }
        }
        .delete {
          display: none;
          cursor: pointer;
          position: absolute;
          width: 16px;
          height: 16px;
          right: 25px;
          background-image: url($common + 'del.png');
          &:hover {
            background-image: url($common + 'del-hl.png');
          }
        }
        &:hover {
          .delete {
            display: inline;
          }
        }
      }
      .content {
        padding: 0;
        font-size: 12px;
        margin-top: 5px;
        line-height: 130%;
      }
    }
    .input-group {
      padding: 5px 10px;
      border: 1px solid #ccc;
      background-color: #ffffff;
      @include border-radius(20px);
      .reply-content {
        @include border-radius(0);
        background-color: transparent;
        border: 0;
        width: 568px;
        height: 18px;
        padding: 0;
      }
    }
    .input-group.active {
      @include border-radius(10px);
      .reply-content {
        color: #000;
        height: 50px;
      }
    }
    .sendbtn {
      margin-top: 10px;
      text-align: right;
      .button {
        margin-left: 10px;
        &.abled {
          color: #fff;
          background-color: #68BC25;
        }
      }
    }
  }
  .weibo-delcls {
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

.referer {
  margin-bottom: 5px;
  min-height: 50px;
  .referer-avatar {
    float: left;
    img {
      width: 36px;
      @include border-radius(18px);
    }
  }
  .referer-main {
    padding-left: 40px;
  }
  .name {
    font-weight: bold;
    color: #000;
    margin-left: 5px;
  }
  .date {
    color: #B1B7C3;
    font-size: 12px;
    margin-top: 5px;
  }
  .referer-content {
    margin: 8px 0 0 5px;
    font-size: 13px;
    word-wrap: break-word;
  }
}
