/*popup组件*/
$white-color: #333333;
$white-em: #B1B1B1;
$white-span: #FFFFFF;
$blue-color: #4D4D4D;
$blue-em: #B9C8D3;
$blue-span: #F8FCFF;
$gray-color: #333333;
$gray-em: #B1B1B1;
$gray-span: #ddd;

.widget-poptip {
  color: #DB7C22;
  font-size: 12px;
  line-height: 1.5;
  z-index: 101;
  top: 0;
  left: 0;
  &:after {
    @include clearfix;
  }
  .widget-poptip-shadow {
    background-color: rgba(229, 169, 107, 0.15);
    border-radius: 2px;
    padding: 2px;
    &:after {
      @include clearfix;
    }
    .widget-poptip-container {
      background-color: #FFFCEF;
      border: 1px solid #FFBB76;
      //border-radius: 2px;
      //padding: 5px 15px;
      position: relative;
      &:after {
        @include clearfix;
      }
    }
  }

}

a.widget-poptip-close {
  background: -moz-linear-gradient(center top, #FFF0E1, #FFE7CD) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #FFC891;
  border-radius: 3px;
  color: #DD7E00;
  font-family: tahoma;
  font-size: 14px;
  height: 12px;
  line-height: 10px;
  overflow: hidden;
  position: absolute;
  right: 3px;
  text-align: center;
  text-decoration: none;
  top: 3px;
  width: 12px;
  &:hover {
    background: -moz-linear-gradient(center top, #FFE5CA, #FFCC98) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #FFB24C;
    color: #DD7E00;
    text-decoration: none;
  }
}

.widget-poptip-arrow {
  position: absolute;
  z-index: 10;
  em, span {
    border-color: rgba(255, 255, 255, 0);
    border-style: solid;
    height: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 0;
  }
}

.widget-poptip-arrow-10 {
  left: -6px;
  top: 10px;
  em {
    border-right-color: #FFBB76;
    border-width: 6px 6px 6px 0;
    left: -1px;
    top: 0;
  }
  span {
    border-right-color: #FFFCEF;
    border-width: 6px 6px 6px 0;
  }
}

.widget-poptip-arrow-9 {
  left: -6px;
  top: 50%;
  em {
    border-right-color: #FFBB76;
    border-width: 6px 6px 6px 0;
    left: -1px;
    top: -6px;
  }
  span {
    border-right-color: #FFFCEF;
    border-width: 6px 6px 6px 0;
    top: -6px;
  }
}

.widget-poptip-arrow-2 {
  right: 0;
  top: 10px;
  em {
    border-left-color: #FFBB76;
    border-width: 6px 0 6px 6px;
    left: 1px;
    top: 0;
  }
  span {
    border-left-color: #FFFCEF;
    border-width: 6px 0 6px 6px;
  }
}

.widget-poptip-arrow-3 {
  right: 0;
  top: 50%;
  em {
    border-left-color: #FFBB76;
    border-width: 6px 0 6px 6px;
    left: 1px;
    top: -6px;
  }
  span {
    border-left-color: #FFFCEF;
    border-width: 6px 0 6px 6px;
    top: -6px;
  }
}

.widget-poptip-arrow-11, .widget-poptip-arrow-12, .widget-poptip-arrow-1 {
  em {
    border-bottom-color: #FFBB76;
    border-width: 0 6px 6px;
    left: 0;
    top: -1px;
  }
  span {
    border-bottom-color: #FFFCEF;
    border-width: 0 6px 6px;
  }

}

.widget-poptip-arrow-11 {
  left: 14px;
  top: -6px;
}

.widget-poptip-arrow-1 {
  right: 28px;
  top: -6px;
}

.widget-poptip-arrow-12 {
  left: 50%;
  top: -6px;
}

.widget-poptip-arrow-12 {
  em, span {
    left: -6px;
  }
}

.widget-poptip-arrow-5, .widget-poptip-arrow-6, .widget-poptip-arrow-7 {
  em {
    border-top-color: #FFBB76;
    border-width: 6px 6px 0;
    left: 0;
    top: 1px;
  }
  span {
    border-top-color: #FFFCEF;
    border-width: 6px 6px 0;
  }

}

.widget-poptip-arrow-5 {
  bottom: 0;
  right: 28px;
}

.widget-poptip-arrow-6 {
  bottom: 0;
  left: 50%;
}

.widget-poptip-arrow-7 {
  bottom: 0;
  left: 14px;
}

.widget-poptip-arrow-6 {
  em, span {
    left: -6px;
  }
}

.widget-poptip-blue {
  color: $blue-color;
  @include widget-poptip-color($blue-em, $blue-span);
}

.widget-poptip-white {
  color: $white-color;
  @include widget-poptip-color($white-em, $white-span);
}

.widget-poptip-gray {
  color: $gray-color;
  @include widget-poptip-color($gray-em, $gray-span);
}

.widget-poptip-content {
  ul li {
    width: 80px;
    padding: 10px 20px;
    cursor: pointer;
    a {
      color: #000000;
      text-decoration: none;
    }
    &:hover {
      background-color: #84bcde;
      a {
        color: $white-span;
        text-decoration: none;
      }
    }
  }
}







