$top-bar-height: 42px;
$body-width: 962px;
$dashboard-width: 324px;
$main-content-width: 628px;

.global-top-bar {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: $top-bar-height;
  z-index: 10;
  .mask {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  .container {
    width: $body-width;
    margin: 0 auto;
    position: relative;
    .navigation {
      position: absolute;
      top: 0;
      left: 0;
      li {
        float: left;
        margin-right: 10px;
        a {
          display: block;
          line-height: $top-bar-height;
          padding: 0 10px 0 30px;
        }
      }
    }
    .logo {
      margin-right: 50px;
      height: $top-bar-height;
      line-height: $top-bar-height;
      text-align: center;
    }
    .actions {
      position: absolute;
      right: 0;
      >div {
        float: left
      }
      .search {
        position: relative;
        margin-right: 12px;
        margin-top: 8px;
        width: 272px;
        .search-bar {
          width: 232px;
          padding: 5px 0 5px 10px;
          margin: 0;
        }
        .input-group-button {
          top: 7px;
          right: 14px;
        }
      }
      .account {
        position: relative;
        line-height: $top-bar-height;
        margin-right: 10px;
        .user {
          height: $top-bar-height;
        }
        .avatar {
          float: left;
          margin-top: 5px;
          width: 30px;
          height: 30px;
        }
        .name {
          margin-left: 5px;
          float: left;
          overflow: hidden;
          max-width: 75px;
          min-width: 42px;
          white-space: nowrap;
        }
        .unfold-icon {
          width: 12px;
          height: 12px;
          margin-top: -5px;
          *margin-top: 15px;
          @include inline-block();
        }
        .account-dropdown {
          width: 100%;
          display: none;
          padding: 10px 0;
          li a{
            display: block;
            height: 12px;
            line-height: 12px;
            padding: 10px 20px;
          }
        }
      }
      .new-weibo-wrapper {
        position: relative;
        .new-weibo-button {
          line-height: $top-bar-height;
          height: $top-bar-height;
          width: 68px;
        }
        .new-weibo-hide {
          display: none;
        }
        .new-weibo-overlay {
          width: 726px;
        }
      }
    }
  }
}

.tips-pop {
  display: none;
  width: $body-width;
  margin: 10px auto;
  padding: 10px 0;
  text-align: center;
  .close {
    position: absolute;
    top: 50%;
    right: 0;
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-right: 8px;
  }
}

.new-weibo {
  .input-group-wrapper {
    padding: 22px 16px;
  }
  .input-group {
    position: relative;
    padding: 11px 14px;
    height: 18px;
    .send-pic {
      display: block;
      width: 60px;
      height: 40px;
      *height: 42px;
    }
  }
  .new-weibo-content {
    position: relative;
    padding: 0;
    display: block;
    width: 100%;
    height: 18px;
  }
  .gear-bar {
    position: relative;
    padding: 10px;
    padding-top: 0;
    margin-top: -5px;
    display: none;
    height: 38px;
    .gear {
      display: black;
      float: left;
      width: 38px;
      height: 38px;
      margin-right: 8px;
    }
    .remain {
      position: absolute;
      right: 72px;
      margin-top: 12px;
    }
    .submit {
      float: right;
      margin-top: 2px;
      width: 28px;
      height: 14px;
    }
  }
  .pic-upload {
    display: none;
    .pics {
      position: relative;
      padding-top: 8px;
      .pic-wrapper {
        @include inline-block;
        position: relative;
        width: 100px;
        height: 80px;
        margin-left: 6px;
        margin-bottom: 8px;
        overflow: hidden;
        .progress {
          position: relative;
          .num {
            line-height: 80px;
            height: 80px;
            text-align: center;
          }
          .bar {
            position: absolute;
            width: 90px;
            height: 5px;
            top: 70px;
            margin-left: 5px;
            .loaded {
              position: absolute;
              height: 100%;
              width: 0;
            }
          }
        }
        .pic {
          display: none;
          position: absolute;
          width: 100px;
          height: 80px;
          top: 0;
          left: 0;
        }
        .error {
          text-align: center;
          font-size: 14px;
          display: none;
          line-height: 80px;
          width: 100px;
          height: 80px;
        }
        .pic-mask {
          display: none;
          position: absolute;
          width: 100px;
          height: 80px;
          top: 0;
          left: 0;
        }
        .upload-pic-btn {
          width: 100px;
          height: 80px;
        }
        &.success {
          .pic {
            display: block;
          }
          .progress {
            display: none;
          }
        }
        &.error {
          .error {
            display: block;
          }
          .progress {
            display: none;
          }
        }
        &:hover {
          .pic-mask {
            display: block;
          }
        }
      }
    }
    .pic-stat {
      padding: 15px 10px;
      .fold {
        float: right;
        width: 18px;
        height: 18px;
      }
    }
    &.active {
      display: block;
    }
  }
  &.active, &.open {
    .input-group {
      height: 80px;
    }
    .new-weibo-content {
      height: 80px;
      color:#000;
    }
    .send-pic {
      display: none;
    }
    .gear-bar {
      display: block;
    }
  }
}

.page-container {
  width: $body-width;
  padding-top: $top-bar-height + 20px;
  margin-left: auto;
  margin-right: auto;
  .dashboard {
    width: $dashboard-width;
    vertical-align: top;
    float: left;
    .board {
      margin-bottom: 10px;
      .profile {
        padding: 20px 0;
        text-align: center;
        .user-avatar{
          height:120px;
          .avatar {
            width: 120px;
            height: 120px;
          }
        }
        .name {
          margin-top: 24px;
        }
        .group {
          margin-top: 10px;
        }
        .stat {
          margin-top: 32px;
          .item {
            float: left;
            width: 80px;
            .item-name {
              margin-top: 10px;
            }
          }
          .clear-both {
            clear: both;
          }
        }
      }
      .topic-info {
        p {
          padding-top: 150px;
          padding-bottom: 10px;
          text-align: center;
        }
      }
      .hot-topic, .recommand {
        padding: 8px;
        .header {
          padding: 10px 10px 10px 30px;
          position: relative;
          .more, .refresh, .search {
            position: absolute;
            display: block;
            width: 18px;
            height: 18px;
            top: 5px;
          }
          .more {
            right: 0;
          }
          .refresh {
            right: 35px;
          }
          .search {
            right: 70px;
          }
        }
        .content {
          padding: 10px 0;
          .topic {
            margin: 10px 12px;
          }
          .user {
            position: relative;
            padding: 10px 12px;
            height: 54px;
            .avatar {
              width: 54px;
              height: 54px;
              float: left;
            }
            .name-and-reason {
              width: 135px;
              margin-left: 60px;
              padding-top: 10px;
            }
            .reason {
              margin-top: 8px;
            }
            .follow-button,.cancel-button,.following-btn {
              position: absolute;
              top: 21px;
              right: 10px;
              padding-left: 25px;
            }
            .cancel-follow {
              position: absolute;
              width: 18px;
              height: 18px;
              top: 28px;
              right: 80px;
            }
          }
        }
      }
    }
  }
  .main-content {
    width: $main-content-width;
    margin-left: 10px;
    float: left;
    vertical-align: top;
    .see-new-weibo {
      display: none;
      text-align: center;
      padding: 5px;
      margin-bottom: 10px;
    }
    .no-more {
      width: 100%;
      padding: 5px 0;
      margin-top: 10px;
      text-align: center;
      display: none;
    }
    .see-more {
      text-align: center;
      .auto-loading, .pagination {
        display: none;
        padding: 5px;
        margin-top: 10px;
      }
    }
  }
  .scroll-to-top {
    display: none;
    position: fixed;
    left: 50%;
    bottom: 50px;
    margin-left: 485px;
    width: 49px;
    height: 70px;
  }
}

.main-content {
  .no-follow {
    padding-top: 430px;
    padding-bottom: 130px;
    margin-bottom: 10px;
    text-align: center;
    display: none;
  }
  .no-weibo {
    padding-top: 430px;
    padding-bottom: 130px;
    margin-bottom: 10px;
    text-align: center;
    display: none;
    a {
      position: absolute;
      bottom: 10px;
      right: 30px;
    }
  }
}

.global-footer {
  padding: 20px;
  clear: both;
  text-align: center;
}

.overlayers {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  .overlay-mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .overlay {
    display: none;
    padding: 30px;
    .text {
      padding: 12px 0;
    }
    .actions {
      margin-top: 18px;
      text-align: right;
      .button {
        margin-left: 20px;
      }
    }
  }
  .delete-msg {
    width: 300px;
  }
}

