body {
  background-color: #c0deef;
  background-image: url($common + 'bg.png');
  background-repeat: repeat-x;

  font-size: 14px;

  a {
    @include links(#84bcde);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .hide {
    display: none;
  }
  * {
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  *::-webkit-scrollbar {
    width: 6px;
    display: block;
    background-color: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #999;
  }
  *::-webkit-scrollbar, *::-webkit-scrollbar-thumb {
    overflow: visible;
    border: solid 1px #a6a6a6;
    @include border-radius(4px);
  }
  *::-webkit-scrollbar-button {
    height: 0;
    display: block;
    background-color: transparent;
  }
}

.avatar {
  @include border-radius(50%);
}

.global-top-bar {
  color: #dbdbdb;
  .mask {
    background-color: #000;
    @include opacity(0.7);
  }
  a {
    &:hover {
      text-decoration: none;
    }
  }
  .navigation {
    font-size: 14px;
    a {
      color: #dbdbdb;
    }
    li {
      background-position: 5px 45%;
      &:hover {
        background-color: lighten(#000, 15%);
        a {
          color: #fff;
        }
      }
    }
    li.active {
      background-color: #212427;
      a {
        color: #ffffff;
      }
    }
    .home {
      background-image: url($common + 'home.png');
      &:hover, &.active {
        background-image: url($common + 'home-hl.png');
      }
    }
    .connect {
      background-image: url($common + 'sharp.png');
      &:hover, &.active {
        background-image: url($common + 'sharp-hl.png');
      }
    }
    .message {
      background-image: url($common + 'msg.png');
      &:hover, &.active {
        background-image: url($common + 'msg-hl.png');
      }
      .msgcount {
        display: block;
        position: absolute;
        left: 93%;
        top: 5px;
        background-color: #FF5201;
        height: 12px;
        padding: 0 10px;
        font-size: 12px;
        @include border-radius(5px);
      }
    }
  }
  .actions {
    .search {
      background-color: #ffffff;
      &.active{
        textarea, input[type="text"], input[type="password"]{
          color:#000000;
        }

      }
      @include border-radius(16px);
      .search-bar {
        background-color: transparent;
        border: 0;
      }
      .input-group-button {
        background-image: url($common + 'global-search.png');
        width: 12px;
        height: 12px;
      }
    }
    .account {
      cursor: pointer;
      .name {
        font-size: 14px;
        color: #dbdbdb;
        &:hover {
          /*background-color: lighten(#000, 15%);*/
          color: #fff;
        }
      }
      .unfold-icon {
        background-image: url($common + 'profile-unfold.png');
      }
      .account-dropdown {
        font-size: 12px;
        background-color: #fff;
        border: 1px solid #e2e2e2;
        border-top: 0;
        @include border-radius(0 0 3px 3px);
        li {
          cursor: pointer;
          color: #333;
          &:hover {
            background-color: #84bcde;
            a {
              color: #fff;
            }
          }
        }
      }
    }
    .new-weibo-wrapper {
      .new-weibo-button {
        cursor: pointer;
        @include clickable($green);
        background-image: url($common + 'new-weibo.png');
      }
      .new-weibo-overlay {
        background-color: #f8f8ff;
        border: 1px solid #eee;
        border-top: 0;
        @include border-radius(2px);
      }
    }
  }
  .logo {
    background-image: url($common + 'logo.png');
  }
}

.tips-pop {
  background-color: #f8edbf;
  @include border-radius(3px);
  .close {
    cursor: pointer;
    color: #999;
    text-decoration: none;
  }
}

.new-weibo {
  background-color: #fafafa;
  @include border-radius(0 0 3px 3px);
  .input-group {
    border: 1px solid #e2e2e2;
    background-color: #fff;
    @include border-radius(20px);
    .new-weibo-content {
      @include border-radius(0);
      background-color: transparent;
      border: 0;
    }
    .send-pic {
      @include clickable($green);
      @include border-radius(0 20px 20px 0);
      background-image: url($common + 'new-weibo.png');
      border: 0;
      &:after {
        content: "";
        display: block;
        width: 0;
        height: 0;
        top: 14px;
        left: -12px;
        position: absolute;
        border: 6px solid transparent;
        border-right-color: $green;
      }
    }
  }
  .gear-bar {
    .gear {
      cursor: pointer;
      &:hover {
      }
      &.smiley-button {
        background-image: url($common + 'smiley.png');
        &:hover {
          background-image: url($common + 'smiley-hl.png');
        }
      }
      &.topic-button {
        background-image: url($common + 'sharp1.png');
        &:hover {
          background-image: url($common + 'sharp1-hl.png');
        }
      }
      &.at-button {
        background-image: url($common + 'at.png');
        &:hover {
          background-image: url($common + 'at-hl.png');
        }
      }
      &.pic-button {
        background-image: url($common + 'pic.png');
        &:hover, &.active {
          background-image: url($common + 'pic-hl.png');
        }
      }
    }
    .remain {
      font-size: 14px;
      color: #999999;
      &.overflow {
        color: #cc3344;
      }
    }
    .abled {
      @include button-color($green, lighten($green, 2%), lighten($green, 2%));
    }
  }
  .pic-upload {
    .pics {
      background-color: #eaeff8;
      font-size: 0;
      .pic-wrapper {
        background-color: #fff;
        .progress {
          .num {
            font-size: 20px;
            color: #ccc;
          }
          .bar {
            background-color: #ddd;
            @include border-radius(5px);
            .loaded {
              background-color: $blue;
              @include border-radius(5px);
            }
          }
        }
        .pic {
        }
        .error {
          background: #fff;
          color: $orange;
        }
        .pic-mask {
          cursor: pointer;
          background-color: #000;
          background-image: url($common + 'del-pic.png');
          @include opacity(0.6);
        }
        &.upload-pic-btn {
          cursor: pointer;
          background-image: url($common + 'add-pic.png');
          &:hover {
            background-image: url($common + 'add-pic-hl.png');
          }
        }
        input[type='file'] {
          height: 100%;
          width: 100%;
          display: block;
          background: red;
          @include opacity(0);
        }
      }
    }
    .pic-stat {
      font-size: 14px;
      color: #cccccc;
      .fold {
        cursor: pointer;
        background-image: url($common + 'fold1.png');
        &:hover {
          background-image: url($common + 'fold1.png');
        }
      }
    }
  }
  &.active, &.open {
    .input-group {
      @include border-radius(10px);
      .new-weibo-content {
      }
    }
  }
}

.page-container {
  .dashboard {
    .board {
      background-color: #fff;
      @include border-radius(3px);
      .profile {
        border-bottom: 1px solid #eee;
        .name {
          font-size: 16px;
          a {
            @include links(#1577d2);
          }
        }
        .group {
          font-size: 14px;
          a {
            @include links(#333);
          }
        }
        .stat {
          .item {
            border-right: 1px solid #eee;
            .num {
              font-size: 24px;
              a {
                @include links(#626262);
              }
            }
            .item-name {
              font-size: 14px;
              color: #7d7d7d;
            }
          }
          .item.last {
            border-right: 0;
          }
        }
      }
      .topic-info {
        background-image: url($common + 'topic-info.png');
        border-bottom: 1px solid #eee;
      }
      .hot-topic, .recommand {
        a {
          @include link-colors(#7688b3, lighten(#7688b3, 5%), lighten(#7688b3, 10%), darken(#7688b3, 5%));
        }
        .header {
          font-size: 14px;
          border-bottom: 1px solid #eeeeee;
          background-position: 0 3px;
          .more {
            cursor: pointer;
            background-image: url($common + 'more.png');
            &:hover {
              background-image: url($common + 'more-hl.png');
            }
          }
          .refresh {
            cursor: pointer;
            background-image: url($common + 'refresh.png');
            &:hover {
              background-image: url($common + 'refresh-hl.png');
            }
          }
          .search {
            cursor: pointer;
            background-image: url($common + 'search.png');
            &:hover {
              background-image: url($common + 'search-hl.png');
            }
          }
        }
        .content {
          .topic {
            font-size: 12px;
          }
          .user {
            .name {
              font-size: 14px;
            }
            .reason {
              font-size: 12px;
              color: #7d7d7d;
            }
            .follow-button {
              font-size: 12px;
              border: 1px solid #dddddd;
              background-color: #ffffff;
              background-image: url($common + 'follow.png');
              background-position: 4px 50%;
              &:hover {
                color: #fff;
                border-color: #3DD020;
                background-color: #3DD020;
                background-image: url($common + 'follow-hl.png');
              }
            }
            .cancel-button {
              border: 1px solid #e76812;
              background-color: #e76812;
              color: #fff;
              font-size: 12px;
              background-image: url($common + 'cancelAttention.png');
              background-position: 4px 50%;
            }

            .cancel-follow {
              cursor: pointer;
              background-image: url($common + 'close.png');
              &:hover {
                background-image: url($common + 'close-hl.png');
              }
            }

            .following-btn{
              border: 1px solid #e76812;
              background-color: #e76812;
              background-image: url($common + 'following.png');
              background-position: 4px 50%;
              cursor: pointer;
              color:#ffffff;
              &:hover{
                background-image: url($common + 'cancelAttention.png');
              }

            }
          }
        }
      }
      .hot-topic {
        .header {
          background-image: url($common + 'hot-topic.png');
          &:hover {
            background-image: url($common + 'hot-topic-hl.png');
          }
        }
      }
      .recommand {
        .header {
          background-image: url($common + 'recommand.png');
          &:hover {
            background-image: url($common + 'recommand.png');
          }
        }
      }
    }
  }

  .main-content {
    .see-new-weibo {
      cursor: pointer;
      background-color: #fff;
      @include border-radius(3px);
    }
    .no-more {
      font-size: 14px;
      background-color: #fff;
      @include border-radius(3px);
    }
    .see-more {
      font-size: 14px;
      background-color: #fff;
      @include border-radius(3px);
    }
  }

  .scroll-to-top {
    cursor: pointer;
    background-image: url($common + 'back-to-top.gif');
  }
}

.main-content {
  .no-follow, .no-weibo {
    @include border-radius(3px);
    background-color: #ffffff;
    position: relative;
    background-position: 50% 96px;
  }
  .no-follow {
    background-image: url($common + 'no-follow.png');
  }
  .no-weibo {
    background-image: url($common + 'no-wb.png');
  }
}

.global-footer {
  color: #98b1be;
  font-size: 12px;
}

.overlayers {
  .overlay-mask {
    background-color: #000000;
    @include opacity(0.4);
  }
  .overlay {
    font-size: 12px;
    background-color: #ffffff;
  }
}

$disable-color: #e2e2e2;
$enable-color: #8dc1e9;
$common-color: #72b9f3;
$select-color: #545455;
.acommon {
  @include inline-block();
  text-align: center;
  font-size: 12px;
  color: $common-color;
  &:hover, &.active {
    text-decoration: none;
    color: $select-color;
  }
}

.btncommon {

}

.pagination, .userpage {
  padding: 5px;
  text-align: center;
  .widget-pagination {
    .btn {
      width: 41px;
      height: 41px;
      background-color: $enable-color;
      border: none;
      &.disabled {
        background-color: $disable-color;
      }
    }
    a {
      width: 42px;
      @extend .acommon;
    }
  }

}

.commentpage {
  text-align: center;
  .btn {
    border: none;
    background: none;
  }
  a {
    width: 30px;
    @extend .acommon;
  }
  margin-bottom: 10px;

}

p.nodata {
  padding: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  background-color: #ffffff;
}
