$green: #3ac71f;
$orange: #ff5201;
$blue: #62b7f6;
$common: '/static/themes/default/images/';
$search-backcolor: #EFF1F5;
$border-radius: 20px;
$unactive-licolor: #7D7D7D;
$font-size: 12px;
$bottom-color: #e2e2e2;
