@import "var";
@import "compass/css3";

$avatar-width: 120px;
$follow-icon-width: 34px;

.home-no-follow, .home-no-weibo {
  display: none;
  text-align: center;
  padding: 30px;
  .bold {
    font-size: 16px;
    font-weight: bold;
  }
  .light {
    font-size: 14px;
  }
}

.home-no-follow {
  background-color: #fff;;
  border-bottom: 1px solid #eee;
  @include border-radius(3px 3px 0 0);
  .user-container {
    margin: 20px 0px;
    height: 140px;
  }
  .user-wrap {
    width: 120px;
    float: left;
    margin-left: 50px;
    position: relative;
    .avatar {
      width: $avatar-width;
      height: $avatar-width;
    }
    .name {
      display: block;
      margin-top: 10px;
    }
    .follow {
      display: none;
      width: $follow-icon-width;
      height: $follow-icon-width;
      top: $avatar-width - $follow-icon-width;
      right: 0;
      position: absolute;
      background-image: url($common + 'check.png');
    }
    &.followed {
      .follow {
        display: block;
      }
    }
  }
  .gear-bar {
    clear: both;
  }
}
.home-no-weibo {
  line-height: 300%;
  margin-bottom: 10px;
  background-color: #fafafa;
  @include border-radius(0 0 3px 3px);
}
