@import "var";
@import "compass/css3";
#login-box {
  color: #262626;

  width: 260px;
  margin: 70px auto;
  padding: 30px 40px;
  font-size: 14px;
  background-color: #fff;
  position: relative;
  @include border-radius(5px);
  @include box-shadow(0 10px 10px #666);
  .avatar {
    margin: 0 auto 30px auto;
    display: block;
    width: 128px;
    height: 128px;
    @include border-radius(50%);
  }
  #username, #password {
    margin: 10px auto;
    width: 230px;
    line-height: 14px;
    box-sizing: content-box;
  }
  .remember {
    padding-left: 20px;
  }
  #forget-password {
    margin-left: 15px;
    color: #1577d2
  }
  #login {
    font-size: 12px;
    font-weight: bold;
    margin-left: 25px;
    width: 80px;
    &.abled {
      background: #1577d2;
      color: #fff;
    }
    &.disabled {
      color: #666;
    }
  }
  .logo {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 20px; right: -32px;
    background: $green;
  }
}

.slogan {
  text-align: center;
  color: #a4cde0;
  font-size: 24px;
  margin: 70px;
}

.global-footer {
  text-align: center;
}
