@import 'var';
@import "compass/utilities";
@import "compass/css3";
@import "utils";

.main-ht {
  background-color: #4187c9;
  height: 204px;
  position: relative;
  .ht {
    background: url($common +'msg-comm.png') no-repeat;
    width: 80px;
    height: 80px;
    left: 45%;
    top: 35%;
    position: absolute;
  }
  &.commens{
    background-color: #4187c9;
    .ht{
      background: url($common +'msg-comm.png') no-repeat;
    }
  }
  &.atmea{
    background-color: #68bc25;
    .ht{
      background: url($common +'msg-at.png') no-repeat;
    }
  }
  &.praises{
    background-color: #ed904b;
    .ht{
      background: url($common +'msg-praise.png') no-repeat;
    }
  }

}

.info-counts {
  ul {
    li.item {
      width: 150px;
    }
  }

}

.user-ct {
  background-color: #ffffff;
  margin-top: 10px;
  @include border-radius(3px);
  .weibo-tabs {
    border-bottom: 1px solid #e2e2e2;
    ul {
      @include clearfix();
      @include tabli();
      li{
        width:100px;
      }
    }
  }

}

