@import "compass/utilities";
@import "compass/css3";
@import "var";
@import "utils";
.useravar {
  height: 54px;
  width: 54px;
  float: left;
  @include border-radius(30px);
}

.name-strong {
  font-size: 16px;
  font-weight: bold;
  color: #000000;
}

.img-sty {
  width: 12px;
  height: 12px;
  display: block;
  float: left;
  margin-left: 50px;
  cursor: pointer;
}

.layout {
  float: right;
  border-radius: 25px;
  padding: 9px 12px 9px 25px;
  margin-top: 10px;
  @include box-shadow(0 0 3px #DDDDDD);
}

.page-container {
  .main-content {
    .main-search {
      .search-content {
        .search-tab ul {
          background-color: #ffffff;
          @include clearfix();
          @include tabli();
        }
        .search-ct {
          height: 88px;
          background-color: $search-backcolor;
          border: 1px solid $search-backcolor;
          .search-group {
            &.active{
              textarea, input[type="text"], input[type="password"]{
                color:#000000;
              }
            }
            width: 550px;
            @include border-radius($border-radius);
            background-color: #ffffff;
            height: 41px;
            margin: 20px 20px;
            position: relative;
            input.search-input {
              border: none;
              padding: 5px;
              width: 487px;
              margin-top: 8px;
              margin-left: 10px;
            }
            .search-img {
              background: #ffffff url($common + 'search.png') no-repeat;
              width: 18px;
              height: 18px;
              display: block;
              position: absolute;
              right: 20px;
              top: 12px;
              cursor: pointer;
            }
          }
        }
        .search-rt {
          font-size: $font-size;
/*          .search-users {
            .oneuser {
              @include clearfix;
              min-height: 90px;
              padding: 20px;
              vertical-align: middle;
              border-bottom: 1px solid $bottom-color;
              .user-avar {
                @include clearfix;
                .avatar {
                  @extend .useravar;
                }
                .user-info {
                  float: left;
                  width: 300px;
                  .userp {
                    color: $unactive-licolor;
                    strong {
                      @extend .name-strong;
                    }
                    span {
                      color: $blue;
                    }
                  }
                  p {
                    margin-top: 10px;
                    padding: 0px 10px;
                  }
                }
                .follow-button {
                  @extend .layout;
                  background: url($common + 'follow.png') no-repeat;
                  border: 1px solid #DDDDDD;
                  background-position: 4px 50%;
                  &:hover {
                    background: url($common + 'follow-hl.png') no-repeat;
                    background-position: 4px 50%;
                    color: #ffffff;
                    background-color: #3DD020;
                    border-color: #3DD020;
                    cursor: pointer;
                  }
                }
                .cancel-button {
                  @extend .layout;
                  border: 1px solid #3DD020;
                  background-color: #3DD020;
                  background-image: url($common + 'cancelAttention.png');
                  background-position: 4px 50%;
                }

              }

            }
          }*/
          .search-weibo {
            .search-ht {
              background-color: #ffffff;
              font-size: 16px;
              padding: 15px;
              font-weight: bold;
            }

          }
          .no-result {
            position: relative;
            text-align: center;
            padding-top: 80px;
            padding-bottom: 120px;
            background-color: #ffffff;
            .no-render {
              background: url($common + 'logo-gray.png') no-repeat;
              width: 160px;
              height: 160px;
              display: block;
              margin-left: 35%;
              margin-bottom: 20px;
            }
            p {
              font-size: 14px;
              .keyword {
                color: $blue;
              }
            }

          }
        }
      }
    }

  }
}