@import "var";
@import "compass/css3";
.main-content {
  @include border-radius(3px);
  background-color: #fff;
  .topics-tabs {
    height: 42px;
    position: relative;
    border-bottom: 1px solid #ddd;
    .topics-tab {
      cursor: pointer;
      margin-left: 20px;
      height: 41px;
      line-height: 41px;
      float: left;
      &.active {
        font-weight: bold;
        border-bottom: 2px solid $blue;
      }
    }
  }
  .topics-panels {
    .topics-panel {
      display: none;
    }
    .topics-container {
      padding: 0 20px;
      .topic {
        padding: 15px 0;
        border-bottom: 1px solid #eee;
        position: relative;
        .no {
          margin-right: 20px;
        }
        .num {
          float: right;
        }
      }
    }
    .pagination {
      text-align: center;
      margin: 15px 0;
    }
  }
}
